.header-image {
  background-image: url('../images/Surfing.jpg');
  background-size: cover;
  height: 350px;
}

.page-content {
  padding: 20px;
}

.carousel-image {
  background-size: cover;
  background-position: center;
  height: 500px;
}

.bio-image {
  background-size: cover;
  background-position: center;
  height: 300px;
}