@Main("Finn McGill") {
<div class="row page-content">
  <div class="col-md-4">
    <div class="well">
      <div class="Finn-McGill"></div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      Finn McGill<br> NATIONALITY American ( he claims Finland )<br>
      STOMPING GROUNDS North Shore of Oahu<br>
      MARITAL STATUS Ladies ... I'm single<br>
      HOBBIES & INTERESTS Skating, Golf , Cooking<br>
      THINGS YOU LOVE My fam, Surfing, Skating, dairy free pizza<br>
      THINGS YOU HATE I'm a lover - not a hater<br>
      PEOPLE YOU ADMIRE My parents, My coaches. Apollo Ohno. Billy Mays. he had great energy<br>
      AMBITIONS Win a world title.  Win Pipe Masters. Beat Kelly Slaters record<br>
      AGE STARTED SURFING can't even remember<br>
      FAVORITE BREAK Vland, Vland, Vland....<br>
      FAVORITE MOVE The Finn twist<br>
      MAGIC BOARD Anything in pink<br>
      ALL TIME SURF TRIP Hasn't happened yet, but somewhere with my friends<br>
      CAREER PERFORMANCE 2011 NSSA Explorer Supergrom Champion: 2011 NSSA Regional Champ ; Open Minigrom, Explorer Supergrom: 2011 HASA States Champ:
      U12 Boys , 2011 North Shore Menehune Champ 11-12 Boys<br>
      ADVICE ON SURFING Never say 'one more wave'....<br>
      WORDS TO LIVE BY Never eat taco's breakfast, lunch and dinner...<br>
    </div>
  </div>
</div>
}
