@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, surfers: List[Surfer])

@Main(page, isLoggedIn, userInfo, surfers) {
   <div class="container">

    <div class="well">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          @for((surfer, index) <- surfers.zipWithIndex) {
            <li data-target="#carousel-example-generic" data-slide-to="@index" @if(index == 0){class="active"}></li>
          }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        @for((surfer, index) <- surfers.zipWithIndex) {
          <div class="item @if(index == 0){active}">
            <div class="carousel-image" style="background-image: url('@surfer.getCarouselUrl()')"></div>
            <div class="carousel-caption">
              <h3>@surfer.getName()</h3>
            </div>
          </div>
       }
        
       </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> 
          <span class="icon-prev"></span>
        </a> 
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> 
        <span class="icon-next"></span>
        </a>
      </div>
    </div>
  </div>
}
