@(message: String) @Main("John Mel") {
<div class="row page-content">
  <div class="col-md-4">
    <div class="well">
      <div class="John-Mel"></div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      John Mel<br>
      <p>John Mel was born and raised in the coastal town of Santa Cruz, California into a surfing legacy under his
        namesake, his paternal grandfather, a surf shop owner, and his father, Peter Mel, Big Wave World Champion of
        2012.</p>
      <p>At the tender age of six, John learned to surf on his own in the warm waters of Mexico, though he still
        resided in Santa Cruz. Under the guidance of his father, he continues to relish the surfer's lifestyle.</p>
      <p>Though he is a young competitor, John holds three National titles in surfing and is an up and coming
        international competitor at the age of thirteen.</p>
      <p>John is also an endorsed athlete who represents his sponsors with esteem in catalogs, e-commerce,
        ad-campaigns and in the pages of surf magazines and websites. Along with his surfing, John is very well spoken
        and loves to give a good interview. Many find his prolific YouTube clips to be entertaining and uplifting.</p>
      <p>He is a well-traveled athlete who spends more time on the road than at home in his current town of Newport
        Beach, California.</p>
      <p>When John is not surfing, he catches up on his studies online in a home school program fitting for his busy
        schedule. He also enjoys skateboarding and golfing to hone his repertoire. Another hobby of John's is movie
        making; with his mom and dad's help filming him around the world, he edits and composes his own surf movies.</p>
      <p>John's true love is traveling the world in search of the perfect wave. From Europe to Fiji and Mexico to
        South America, there is no stopping this young athlete from chasing his dreams.</p>
    </div>

  </div>

</div>
}

