@(message: String) @Main("Kalani David") {
<div class="row page-content">
  <div class="col-md-4">
    <div class="well">
      <div class="Kalani-David"></div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      Kalani David<br>
      <p>It's unlikely old age will be kind to Kalani David. The 14-year-old Costa-Rica-born-
        Hawaiian-pro-skater-slash-pro-surfer is looking very uncomfortable seated across from me at a roadside eatery in
        Bali. The World Junior Championships are on and as of yesterday, he is now the highest ranked surfer in the
        world for his age (having lost out in Round 4 to one of the event favorite's, Conner Coffin). His biggest battle
        at the moment, however, is trying to reach the fried chicken on his plate.</p>
      <p>You're supposed to sit with your legs crossed in this restaurant, but due to the amount of scar tissue
        beneath his -knees legacy of the countless slams he's taken in the bowl- hat's an impossibility for David.
        "We're always wrapping him in ice," his father tells me later. "And I'm constantly watching his body and making
        sure he's got muscle on his bones for the slams. It's pretty nerve-racking, actually."</p>
      <p>As David confronts the painstaking decision of whether to pursue a career in skating or surfing, you might
        think the injury toll alone would be enough to make up his mind. But you'd be wrong. "If it was life or death,
        and I had to choose skating or surfing, I 'd choose death," he says. So how exactly is he going to get out of
        this pickle?</p>
    </div>
  </div>
</div>
}

