@(message: String) @Main("Keliamoniz") {
<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <div class="moniz"></div>
      </div>
    </div>


    <div class="col-md-8">
      <div class="well">
        <h2>Kelia Moniz</h2>
        <p>At eighteen, Kelia is one of the most graceful, carefree, and above all, versatile surfers out there.
          She's equally fluid off the lip or cross-stepping to the nose, whether she's longboarding or shortboarding.
          Kelia makes surfing look fun to surfers and non-surfers alike with her flow and smile, and her mother compares
          her surfing style to that of a sassy ballerina.</p>

        <p>As a grom, Kelia and her four brothers were dropped off at Waikiki early in the morning and didn't get
          picked up 'til sundown. By fourteen, she was competing against the world's best in longboarding—and beating
          them.</p>

        <p>When Kelia is not competing on the ASP World Longboard Tour, this natural beauty spends most of her time
          free surfing and modeling. Still, Kelia remains humble and selfless to the core. She's known as Sister among
          all the South Shore folk because that's what she's become to the world at large. Sis's biggest goal is to be a
          positive influence in women's surfing, she says. I want to help make women's surfing bigger.</p>
      </div>

    </div>
  </div>

</div>
}
