@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, surferForm : Form[views.formdata.SurferFormData], surferTypeMap : Map[String, Boolean], 
  surfers: List[Surfer], slugController: String, surferStyleList : List[String])

@import helper._ 
@import bootstrap3._
@import models._

@Main(page, isLoggedIn, userInfo, surfers) {
<div class="container">
  @form(routes.Application.postSurfer(), 'class -> "form-horizontal"){
    
    @text(surferForm("name"),
        label = "Name",
        placeholder = "Name",
        help = "The Name of the surfer")
  
    @text(surferForm("home"),
        label = "Home",
        placeholder = "Home",
        help = "Where the surfer hails from")
        
    @text(surferForm("country"),
        label = "Country",
        placeholder = "Country",
        help = "Surfer's home nation")
        
    @text(surferForm("awards"),
        label = "Awards",
        placeholder = "Awards",
        help = "List titles and other surfing awards")
        
    @radiobuttons(surferForm("style"),
                label = "Foot Style",
                buttonNameList = surferStyleList,
                help = "Select surfer foot style")
        
    @text(surferForm("carouselUrl"),
        label = "Carousel URL",
        placeholder = "http://example.com/picture.jpg",
        help = "A URL to the picture to be presented in the home page carousel for this surfer")
        
    @text(surferForm("bioUrl"),
        label = "Bio URL",
        placeholder = "http://example.com/picture.jpg",
        help = "A URL to the picture to be presented in the bio page for this surfer")
        
    @bootstrap3.textarea(surferForm("bio"),
        rows = "16",
        label = "Bio",
        placeholder = "Bio statement here",
        help = "One paragraph description of this surfer")
    
    @if(slugController == "editSurfer") {
      <input type="hidden"
           name="id"
           value="@surferForm("id").value">
           
      @slug(surferForm("slug"),
          label = "Slug",
          placeholder = "kellyslater",
          help = "Letters and Digits to be used to identify the surfer in URLs")
    } else {
      <input type="hidden"
           name="id"
           value= 0>
           
      @slug(surferForm("slug"),
          label = "New Slug",
          placeholder = "kellyslater",
          help = "Letters and Digits to be used to identify the surfer in URLs")
    }
    
    
    @bootstrap3.select(surferForm("type"),
        label = "Type",
        optionMap = surferTypeMap,
        isMultiple = false,
        help = "The type of surfer for placement in the menubar")
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add</button>
      </div>
    </div>
  }
</div>
}