@(message: String) @Main("Home") {
<div class="container">

  <div class="well">
    <div class="row">
      <div class="col-md-4">

        <div class="noa"></div>

      </div>


      <div class="col-md-8">
        <p>Full Name: Noa Patrick Kaiuluokealaula Mizuno<br>
Born: 12-6-98<br>
Physical Dimensions: 5’5″ x 120lbs<br>
School: Punahou School, Class of 2017<br>
Surf Spot: Pipeline<br>
Surfboards: 5’7 x 18 3/16 x 2 1/16 DFR, 5’7 x 18 3/16 x 2 1/16 T-low, and Proton Step ups<br>
Loves: Good Surfing, Good times<br>
Hates: Losing<br>
Surfers: Julian Wilson, Kelly Slater<br>
Crew: Seth Moniz, Lana Apo, Imai DeVault and more<br>
</p>



      </div>
    </div>
  </div>

</div>
}
