@(message: String) @Main("Noa Mizuno") {
<div class="container">

  <div class="row">

    <div class="col-md-4">
      <div class="well">
        <div class="noa"></div>
      </div>

    </div>

    <div class="col-md-8">
      <div class="well">
        <h2>Noa Mizuno</h2>
        <p>Noa Patrick Kaiuluokealaula Mizuno was born on December 6th 1998. At 5'5, 120 lbs he attends Punahou on
          Oahu, Hawai'i. His favourite surf spot is Pipelines. He loves good surfing & good times and hates losing.</p>
      </div>

    </div>

  </div>

</div>
}
