@(message: String) @Main("Pauline Menczer") {
<div class="row page-content">
  <div class="col-md-4">
    <div class="well">
      <div class="Pauline-Menczer"></div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      Pauline Menczer<br>
      <p>One of pro surfing's great individuals, Pauline Menzcer won the 1988 world amateur and 1993 professional
        crowns, took out events in every tour leg, gained the nickname "Naughty Pauls" and fought an incredible lifelong
        duel with crippling rheumatoid arthritis -- all without attracting the serious attention of a major sponsor.
        This might make another surfer bitter, but it only draws a mocking grin to Menzcer's freckled noggin. It's been
        a long time since she fit any mold.</p>

      <p>Born in Sydney, Australia, Menzcer raised the ante in the women's pro scene of the late '80s and kept the
        hammer down on the likes of Lisa Andersen, Pam Burridge and Layne Beachley throughout the '90s. She learned to
        surf at Australia's great city break, Bondi, and worked up a strong high-energy approach that popped a few egos
        in Pro-World and even pulled a few hoots from the male pros -- a rare feat, then and now. Speed and snap were
        key to her early victories in French and Australian beachbreaks.</p>

      <p>Watching her perform, it was difficult to imagine its flip side -- hours of agony from the arthritis. She
        pushed through it during competition, but other times, it hurt just to move her fingers. Eventually, Menzcer
        gained some control over the affliction through a rigorous diet.</p>

      <p>She narrowly lost a world title race to Wendy Botha in 1991, but wrecked 1993 for everyone else by making
        half the finals and winning half of them. In that year, her only income -- slightly more than $30,000 -- came
        from prize money. Money has never come easy to Menzcer: her family was anything but rich. She knew how to live
        off the smell of a bar of wax.</p>

      <p>Even in the late '90s, she took a tent on tour and slept in friends' backyards. Small, fiery and immensely
        likable, she pulls this kind of thing with relative ease. Off tour, she lives at Byron Bay in northern New South
        Wales, Australia. -- Nick Carroll</p>
    </div>
  </div>
</div>
}
