@(surfer: Surfer, surfers: List[Surfer])

@Main(surfers) {
<div class="row page-content">
  <div class="col-md-4">
    <div class="well">
      <div class="bio-image" style="background-image: url('@surfer.getBioURL()')"></div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
    <div class="page-content">
      <h1>@surfer.getName()</h1>
      <p><b>Home Town: </b>@surfer.getHome()</p>
      <p><b>Awards: </b>@surfer.getAwards()</p>
      <p><b>Biography: </b>@surfer.getBio()</p>
      <p>
      <a class="pull-left" href="@routes.Application.manageSurfer(surfer.getSlug())">Edit</a>
      <a data-toggle="modal" href="#myModal" class="pull-right">Delete</a>
      </p>
      <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Really delete this surfer?</h4>
        </div>
        <div class="modal-body">
          <p>This cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a type="button" class="btn btn-info" href="@routes.Application.deleteSurfer(surfer.getSlug())">Delete</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
      </div>
    </div>
  </div>
</div>
}