@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, surfers: List[Surfer], updates: List[Updating])

@Main(page, isLoggedIn, userInfo, surfers) {
   <div class="container">
   <h1>List of updates to Surferpedia</h1>
     <table class="table table-striped table-bordered">
       <thead>
         <tr>
           <th>Date</th>
           <th>Action</th>
           <th>Surfer</th>
         </tr>
       </thead>
       <tbody>
       @for(update <- updates){
         <tr>
           <td>@update.getDate()</td>
           <td>@update.getAction()</td>
           <td>@update.getName()</td>
         </tr>
       }
       </tbody>
     </table>
   </div>
}
